<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <h2>Edit ur user :<%= rslt.email %></h2>
    <form method="post" action="/user/<%= rslt.uuid %>?_method=patch">
        <textarea name="username"><%= rslt.username %></textarea>
        <input type="password" name="password" placeholder=" enter password">
        <button>update</button>
    </form>
</body>
</html>